<mat-card>
    <mat-card-content>
        <!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit()"> -->
        <h2>Register</h2>
        <!-- <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error> -->
        <mat-form-field>
            <input matInput type="text" placeholder="{{ 'register.name' | translate }}" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="{{ 'register.surname' | translate }}" name="surname" required>
            <mat-error>
                Please provide a valid password
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" placeholder="Email" name="Email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" required>
        </mat-form-field>
        <!-- <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button> -->
        <!-- </form> -->
    </mat-card-content>
</mat-card>