<form [formGroup]="precriptionForm">
    <div class="card">
        <div class="card-header">
            <app-shared-form-actions [isFormInvalid]="precriptionForm.invalid"></app-shared-form-actions>
        </div>
        <div class="card-body">
            <fieldset>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>{{ 'doctor.patient' | translate }}</mat-label>
                            <input type="text" matInput formControlName="patient">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="patient_email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>{{ 'doctor.pathology' | translate }}</mat-label>
                            <input type="text" matInput formControlName="pathology">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>Sintomi</mat-label>
                            <textarea matInput formControlName="symptoms"> </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>{{ 'doctor.medicine' | translate }} </mat-label>
                            <textarea matInput formControlName="medicine"> </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>{{ 'doctor.procedure' | translate }}</mat-label>
                            <textarea matInput formControlName="procedure"> </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>Feedback</mat-label>
                            <textarea matInput formControlName="feedback"> </textarea>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>