<form [formGroup]="departmentForm">
    <div class="card">
        <div class="card-header">
            <app-shared-form-actions></app-shared-form-actions>
        </div>
        <div class="card-body">
            <fieldset>
                <div class="mb-3">
                    <label for="name" class="form-label">Nome dipartimento</label>
                    <input type="text" [class]="departmentForm.get('name').errors?.required ? 'form-control is-invalid':'form-control is-valid'" formControlName="name">
                </div>
            </fieldset>
        </div>
    </div>
</form>