<form [formGroup]="departmentForm">
    <div class="card">
        <div class="card-header">
            <app-shared-form-actions [isFormInvalid]="departmentForm.invalid"></app-shared-form-actions>
        </div>
        <div class="card-body">
            <fieldset>
                <div class="mb-3">
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                        <mat-label> {{ 'admin.departmentName' | translate }} </mat-label>
                        <input type="text" matInput formControlName="name">
                    </mat-form-field>
                </div>
            </fieldset>
        </div>
    </div>
</form>