<as-split unit="percent">
    <as-split-area [size]="70" [minSize]="0">
        <mat-card>
            <mat-card-title>
                <app-shared-header-crud title="Gestione Dottori" addButtonText="Aggiungi dottore" (add)="addNewRow()">
                </app-shared-header-crud>
            </mat-card-title>
            <mat-card-content>
                <div class="d-flex justify-content-center" *ngIf="isLoadingTable$ | async">
                    <mat-spinner ></mat-spinner>
                </div>
                <app-shared-table-crud *ngIf="!(isLoadingTable$ | async)" [tableContent]="doctors$"
                    [tableColumns]="columns" (rowSelectEmitter)="setCurrentObject($event)">
                </app-shared-table-crud>
            </mat-card-content>
        </mat-card>
    </as-split-area>

    <as-split-area [size]="50" *ngIf="showForm$ | async">
        <app-doctor-form [currentDoctorRow]="currentRowObject | async">

        </app-doctor-form>
    </as-split-area>
</as-split>