<form [formGroup]="appointmentForm">
    <div class="card">
        <div class="card-header">
            <app-shared-form-actions [isFormInvalid]="appointmentForm.invalid"></app-shared-form-actions>
        </div>
        <div class="card-body">
            <fieldset>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Data</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="appointmentDate">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="startHour">
                            <span> Ora Inizio </span>
                        </label>
                        <ngb-timepicker formControlName="startHour"></ngb-timepicker>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="mb-3">
                        <label for="startHour">
                            <span> Ora Fine </span>
                        </label>
                        <ngb-timepicker formControlName="endHour"></ngb-timepicker>
                    </div>
                </div>
                <div *ngIf="appointmentForm.errors?.wrongHours">
                    <span class="caption-form">Selezionare due orari validi</span>
                </div>
            </fieldset>
        </div>
    </div>
</form>