<form [formGroup]="doctorForm">
    <div class="card">
        <div class="card-header">
            <app-shared-form-actions [isFormInvalid]="doctorForm.invalid"></app-shared-form-actions>
        </div>
        <div class="card-body">
            <fieldset>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label> {{ 'admin.doctorName' | translate }} </mat-label>
                            <input type="text" matInput formControlName="name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>{{ 'admin.doctorNumber' | translate }}</mat-label>
                            <input type="text" matInput formControlName="phone_number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>{{ 'admin.doctorAddress' | translate }}</mat-label>
                            <input type="text" matInput formControlName="address">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>{{ 'admin.doctorDepartment' | translate }}</mat-label>
                            <input type="text" matInput formControlName="department">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                            <mat-label>{{ 'admin.doctorEducation' | translate }}</mat-label>
                            <input type="text" matInput formControlName="education">
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>