<as-split unit="percent">
    <as-split-area [size]="70" [minSize]="0">
        <mat-card>
            <mat-card-title>
                <app-shared-header-crud title="Gestione Dipartimenti" addButtonText="Aggiungi dipartimento">
                </app-shared-header-crud>
            </mat-card-title>
            <mat-card-content>
                <div class="text-center" *ngIf="isLoadingTable$ | async">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
                <app-shared-table-crud *ngIf="!(isLoadingTable$ | async)" [tableContent]="departments$"
                    [tableColumns]="columns" (rowSelectEmitter)="setCurrentObject($event)">
                </app-shared-table-crud>
            </mat-card-content>
        </mat-card>
    </as-split-area>

    <as-split-area [size]="50" *ngIf="showForm$ | async">
       <app-department-form [currentDepartmentRow]="currentRowObject | async"></app-department-form>
    </as-split-area>
</as-split>